@font-face {
    font-family: 'SpaceFont';
    src: url('AnkhSanctuary-nROx4.ttf');
}

h1{
    font-size: 80px;  
    color: rgb(255, 255, 0);
}

body {
    background-color: rgb(14, 14, 26);
    color: rgb(255, 255, 255);
    font-family: 'SpaceFont', sans-serif;
}

header {
    background-image: url('astronauta.jpg');
    background-position: center;
    background-position: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-image 1s ease-in-out;
}

header:hover {
    background-image: url('nasa.jpg');
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 20px;
    font-size: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'SpaceFont', sans-serif;
    font-size: 30px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: rgb(255, 255, 0);
}

main {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    text-align: center;
    line-height: 1.5;
}

footer {
    background-color: rgba(66, 49, 118, 0.683);
    background-size: cover;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 0);
    transition: background-color 1s ease-in-out;
    
}

footer:hover {
    background-color: rgb(54, 54, 66);

}